.Quote {
    height: 50vh;
    background-color: $pink;
    color: $purple;
    span {
        font-size: 15em;
    }
    .quote-content {
        font-size: 3em;
    }
}

/*
TO-DO:
- display flex
- direction column
- first child text align start/left
- main-quote div centered
- last child text align end/right

- rotate first child (open-quotation) 180 degrees
- increase font-size of first and last child
*/